<!DOCTYPE html>
<html>
<head>
    <title><%=pageTitle%></title>
    <% include ./scripts.ejs %>
    <% include ./css.ejs  %>
    <link rel="icon" href="/images/nuclear.png" type="image/icon type">
</head>

